@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Sistema de Controle de Cadastros</p>
    <br/>
    <br/>
    <img src="~/js/2022-07-19.png"  width="1000"/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
           <a class="btn btn-primary" role="button " asp-controller="Arquivo" asp-action="Criar">Novo cadastro</a>
       </div>
</div>
